In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv('home data.csv')

In [3]:
df.head()

           x          y
0  48.955889  60.723602
1  44.687196  82.892504
2  60.297327  97.379897
3  45.618644  48.847153
4  38.816818  56.877213

In [4]:
print(df)

            x          y
0   48.955889  60.723602
1   44.687196  82.892504
2   60.297327  97.379897
3   45.618644  48.847153
4   38.816818  56.877213
..        ...        ...
94  50.030174  81.536991
95  49.239765  72.111832
96  50.039576  85.232007
97  48.149859  66.224958
98  25.128485  53.454394

[99 rows x 2 columns]

In [5]:
df.shape

(99, 2)

In [6]:
x=df['x']
y=df['y']

In [8]:
#1st_step
m = 0
c = 0
learning_rate = 0.0001

n = int(len(x))

#2nd_step
iterations = 1000

for i in range (iterations):
    y_predic = m * x + c
    d_m = (-2/n) * sum(x * (y - y_predic))
    d_c = (-2/n) * sum((y - y_predic))
    m = m - learning_rate * d_m 
    c = c - learning_rate * d_c
    
print(m,c)

1.4796491688881985 0.10148121497503648

# Make prediction

In [13]:
x =float(input('Enter any number: '))

Enter any number: 45.618644

In [14]:
 y = 1.4796491688881985 * x  + 0.10148121497503648
print('Predicted output: ', y)

Predicted output:  67.60106989538164

In [19]:
print("""sabbir ahmed""")

sabbir ahmed